* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 50px);
}

a {
  text-decoration: none;
  cursor: alias;
}

body {
  background: #1b296e;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

#effect {
  z-index: -1;
  background: url(./image/boulangegrand.jpg) center/cover;
  position: fixed;
  top: 5%;
  bottom: 30%;
  left: 10%;
  right: 10%;
  animation: colorAnim 40s infinite linear alternate-reverse;
  box-shadow: 5px 5px 10px #232d0b, -5px -5px 10px #232d0b;
}

@keyframes colorAnim {
  0% {
    border-radius: 39% 61% 70% 30% / 30% 32% 68% 70%;
  }
  10% {
    border-radius: 78% 22% 24% 76% / 66% 49% 51% 34%;
  }
  20% {
    border-radius: 44% 56% 45% 55% / 78% 45% 55% 22%;
  }
  30% {
    border-radius: 56% 44% 71% 29% / 23% 76% 24% 77%;
  }
  40% {
    border-radius: 30% 70% 19% 81% / 48% 24% 76% 52%;
  }
  50% {
    border-radius: 77% 23% 66% 34% / 76% 66% 34% 24%;
  }
  60% {
    border-radius: 24% 76% 23% 77% / 5% 48% 52% 95%;
  }
  70% {
    border-radius: 80% 20% 59% 41% / 51% 65% 35% 49%;
  }
  80% {
    border-radius: 9% 91% 30% 70% / 74% 32% 68% 26%;
  }
  90% {
    border-radius: 34% 66% 71% 29% / 30% 54% 46% 70%;
  }

  100% {
    border-radius: 60% 40% 26% 74% / 49% 76% 24% 51%;
  }
}

.accueil {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: auto;
  margin: 5rem auto 0 auto;
  border-radius: 1000px;
  background: rgb(255, 255, 255);
  width: 10vw;
  height: 10vw;
  overflow: hidden;
  box-shadow: #ffffff 0px 0px 10px 5px;
}

.logo img {
  transform: rotatez(45deg) translateX(2px);
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 6rem;
  height: 6rem;
}

#svgAnim {
  display: flex;
  margin: 7rem auto 0 auto;
}

.container {
  perspective: 1000px;
  cursor: default;
}

h1 {
  font-family: "Carrois Gothic", sans-serif;
  margin-top: 3rem;
  text-align: center;
  color: #ececec;
  transition: 0.7s linear;
  cursor: none;
}

lottie-player {
  position: relative;
  left: calc(50% - 50px);
}
#main {
  position: relative;
  top: 100vh;
  display: block;
  overflow: hidden;
  width: 90%;
  margin: 0 auto 0 auto;
  border-radius: 10px;
  background: whitesmoke;
  transition: linear 0.3s;
  z-index: 1;
}
#navbar {
  border-radius: 10px 10px 0px 0px;
  height: 60px;
  background: rgb(228, 228, 228);
  z-index: 1;
}

.navLinks {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  transition: 0.2s linear;
  position: relative;
  margin: 0.5rem;
  padding: 0.6rem;
  cursor: pointer;
  color: #1c2c68;
  font-weight: 600;
  font-size: large;
  font-family: "Amethysta", serif;
  border-radius: 5px;
  /* background: linear-gradient(145deg, #f4f4f4, #cdcdcd); */
  box-shadow: 5px 5px 10px #878787, -5px -5px 10px #ffffff;
}

.btn::before {
  position: absolute;
  height: 100%;
  width: 0%;
  opacity: 0;
  z-index: -1;
  transform: translate(-50%, -50%);
  transition: 0.3s linear;
  content: "";
  left: 50%;
  top: 50%;
  background: #1c2c68;
}
.btn:hover {
  color: white;
}
.btn:hover::before {
  border-radius: 5px;
  background: #1c2c68;
  color: white;
  box-shadow: inset 5px 5px 10px #111a3d, inset -5px -5px 10px #273e93;
  width: 100%;
  opacity: 1;
}

#presentation {
  justify-content: space-around;
  margin: 8rem 2rem 8rem 2rem;
  display: flex;
  height: 100%;
}

#textPresentation {
  display: block;
  width: 50%;
  margin: auto;
}

#facade {
  margin: auto;
}

#facade img {
  border: 1px solid #8dba19;
  padding: 10px;
  width: 20rem;
  height: 20rem;

  border-radius: 1000px;
  transform: rotate(-0.5deg);
}
h2 {
  margin-bottom: 3rem;
  color: #8dba19;
}

.savoir {
  color: #8dba19;
  margin-top: 3rem;
  height: 40px;
  width: 100px;
}

.separation {
  width: 100%;
  height: 1px;
  margin: 10px auto;
  border-bottom: rgb(228, 228, 228) 2px solid;
}

#produits {
  justify-content: space-around;
  margin: 8rem 2rem 8rem 2rem;
  display: flex;
  height: 100%;
}

#textProduits {
  display: block;
  width: 50%;
  margin: auto;
}

.mainImg {
  margin: auto;
}

.mainImg img,
.lottie {
  border: 1px solid #8dba19;
  padding: 10px;
  width: 25rem;
  height: 20rem;
}

#contact {
  justify-content: space-around;
  margin: 8rem 2rem 8rem -5rem;
  display: flex;
  height: 100%;
}

#textContact {
  display: block;
  width: 40%;
  margin: auto;
  text-align: center;
}

#textContact a {
  display: block;
  margin: 1rem;
}

#textContact p {
  margin: 1rem;
}
